.my_coupon {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.my_coupon .title_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.my_coupon .select_bar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1ba4f0;
  position: fixed;
  z-index: 10;
  top: 44px;
  left: 0;
  right: 0;
}
.my_coupon .select_bar .items {
  height: 47px;
  line-height: 54px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: PingFangSC-bold;
  margin-bottom: 5px;
}
.my_coupon .border_bottom {
  border-bottom: 2px solid #ffffff;
}
.my_coupon .content_section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #1ba4f0 60%, #f5f5f5 0);
  height: 623px;
}
.my_coupon .content_section .content_section_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  border-radius: 16px 16px 0px 0px;
}
.my_coupon .content_section .content_section_wrapper .content_main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.my_coupon .content_section .content_section_wrapper .content_main .mycoupon_tool_bar {
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.my_coupon .content_section .content_section_wrapper .content_main .mycoupon_tool_bar .mycoupon_use_history_btn {
  padding: 15px 0;
  color: #1ba4f0;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.my_coupon .content_section .content_section_wrapper .content_main .coupon_topic {
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 15px;
  width: 345px;
  background-color: #fff;
}
.my_coupon .mask_message {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 0, 0, 0.4);
}
.my_coupon .mask_message .operate_option {
  width: 345px;
  height: 44px;
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
