.my_address {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}
.my_address .title_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.my_address .content_section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #1ba4f0 60%, #f5f5f5 0);
  height: 623px;
}
.my_address .content_section .content_section_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.my_address .content_section .content_section_wrapper .content_main {
  width: 100%;
  height: 100vh;
  border-radius: 16px 16px 0px 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
}
.my_address .content_section .content_section_wrapper .content_main .address_card_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.my_address .comment_btn_container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100vw;
  background-color: #fff;
}
.my_address .comment_btn_container .publich_comment_btn {
  width: 345px;
  height: 40px;
  line-height: 20px;
  border-radius: 26px;
  background-color: #1ba4f0;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: PingFangSC-bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
