.recommender_good_item {
  width: 345px;
  background-color: #ffffff;
  color: #101010;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 15px;
}
.recommender_good_item .good_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 121px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3);
}
.recommender_good_item .good_section .good_pic {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.recommender_good_item .good_section .good_pic .pic {
  width: 100%;
}
.recommender_good_item .good_section .good_info {
  width: 210px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 17px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.recommender_good_item .good_section .good_info .good_name {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommender_good_item .good_section .good_info .good_name,
.recommender_good_item .good_section .good_info .good_desc {
  width: 195px;
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.recommender_good_item .good_section .good_info .good_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  font-size: 12px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.recommender_good_item .good_section .good_info .sale_number {
  text-align: left;
}
.recommender_good_item .good_section .good_info .good_comment_number {
  text-align: right;
}
.recommender_good_item .good_section .good_info .good_price {
  color: #ee0c0c;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-bold;
}
.recommender_good_item .good_section .good_info .good_star .text {
  color: #333333;
  font-size: 12px;
  text-align: left;
  font-family: PingFangSC-regular;
  margin-right: 5px;
  display: inline-block;
}
.recommender_good_item .good_section .good_info .good_star .star {
  width: 10px;
  height: 10px;
  margin-right: 1px;
}
.recommender_good_item .recomment_reason {
  width: 345px;
  padding: 15px 15px;
  text-align: left;
}
.recommender_good_item .recomment_reason .recomment_reason_title {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-bold;
  font-weight: 600;
  margin-bottom: 5px;
}
.recommender_good_item .recomment_reason .recomment_reason_content {
  text-indent: 2em;
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-bold;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.5em;
}
.recommender_good_item .recommend_time {
  padding: 0 15px 15px 15px;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  text-align: left;
  font-family: PingFangSC-bold;
}
