.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item .icon_pic {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}
.item .order_topic_title {
  color: #101010;
  font-size: 12px;
  font-family: PingFangSC-regular;
}
