.recommend_good_card {
  width: 345px;
  background-color: #ffffff;
  color: #101010;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 15px;
}
.recommend_good_card .remender_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 78px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3);
}
.recommend_good_card .remender_section .avatar_con {
  width: 48px;
  height: 48px;
  border-radius: 38px;
  overflow: hidden;
}
.recommend_good_card .remender_section .avatar_con .avatar {
  width: 100%;
}
.recommend_good_card .remender_section .user_info {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.recommend_good_card .remender_section .user_info .user_name {
  color: #333333;
  font-size: 15px;
  font-family: PingFangSC-bold;
  margin-bottom: 10px;
}
.recommend_good_card .remender_section .user_info .description {
  color: #f0ad16;
  font-size: 12px;
  font-family: PingFangSC-regular;
}
.recommend_good_card .remender_section .not_followed {
  border: 1px solid #1ba4f0;
}
.recommend_good_card .remender_section .not_followed .text {
  color: #1ba4f0;
}
.recommend_good_card .remender_section .has_followed {
  border: 1px solid #707070;
}
.recommend_good_card .remender_section .has_followed .text {
  color: #000000;
}
.recommend_good_card .remender_section .follow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border-radius: 22px;
  background-color: #ffffff;
}
.recommend_good_card .remender_section .follow_btn .icon_follow {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.recommend_good_card .remender_section .follow_btn .text {
  font-size: 15px;
  font-family: PingFangSC-regular;
}
.recommend_good_card .good_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 121px;
}
.recommend_good_card .good_section .good_pic {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.recommend_good_card .good_section .good_pic .pic {
  width: 100%;
}
.recommend_good_card .good_section .good_info {
  width: 210px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 17px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 1px solid rgba(187, 187, 187, 0.3);
}
.recommend_good_card .good_section .good_info .good_name {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.recommend_good_card .good_section .good_info .good_name,
.recommend_good_card .good_section .good_info .good_desc {
  width: 195px;
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.recommend_good_card .good_section .good_info .good_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
  font-size: 12px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.recommend_good_card .good_section .good_info .sale_number {
  text-align: left;
}
.recommend_good_card .good_section .good_info .good_comment_number {
  text-align: right;
}
.recommend_good_card .good_section .good_info .good_price {
  color: #ee0c0c;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-bold;
}
.recommend_good_card .good_section .good_info .good_star {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend_good_card .good_section .good_info .good_star .text {
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-regular;
  margin-right: 5px;
  display: inline-block;
  padding-top: 4px;
}
.recommend_good_card .good_section .good_info .good_star .stars_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommend_good_card .recomment_reason {
  width: 345px;
  padding: 15px 15px;
  text-align: left;
}
.recommend_good_card .recomment_reason .recomment_reason_title {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  text-align: left;
  font-family: PingFangSC-bold;
  font-weight: 600;
  margin-bottom: 5px;
}
.recommend_good_card .recomment_reason .recomment_reason_content {
  text-indent: 2em;
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.5em;
}
.recommend_good_card .recomment_reason .recommend_time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(51, 51, 51, 0.5);
  font-size: 12px;
  text-align: left;
  font-family: PingFangSC-bold;
}
