.edit_info_page {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
.edit_info_page .title_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.edit_info_page .content_section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #1ba4f0 16px, #f5f5f5 0);
}
.edit_info_page .content_section .content_main {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.edit_info_page .content_section .content_main .edit_info_page_main {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_avatar {
  width: 100px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 25px 0 15px;
  overflow: hidden;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_birth {
  width: 100%;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_birth .birthday_picker_container {
  width: 208px;
  text-align-last: left;
  margin-right: 15px;
  color: rgba(51, 51, 51, 0.5);
  text-align: left;
  font-family: PingFangSC-regular;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_birth .birthday_picker_container .datepicker {
  width: 100%!important;
  padding: 0!important;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_field {
  padding: 5px 15px;
  width: 345px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_field .edit_info_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_field .edit_info_left .edit_info_title {
  width: 60px;
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-bold;
  margin-right: 20px;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_field .edit_info_left .default_value {
  width: 208px;
  text-align-last: left;
  margin-right: 15px;
  color: rgba(51, 51, 51, 0.5);
  text-align: left;
  font-family: PingFangSC-regular;
}
.edit_info_page .content_section .content_main .edit_info_page_main .edit_info_field .edit_info_icon_more {
  width: 12px;
  height: 12px;
}
.edit_info_page .mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(20, 0, 0, 0.4);
}
.edit_info_page .mask .gender_option {
  height: 44px;
  width: 100%;
  color: #333333;
  font-size: 15px;
  text-align: left;
  font-family: PingFangSC-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
